.loading-initial {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--load-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.texto-loading {
    font-size: 1.5rem;
    color: #f45600;
    margin-bottom: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.barra-loading {
    width: 0;
    height: 5px;
    background: #f45600;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    animation: expandirBarra 1.5s forwards ease-out;
}

.barra-loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: #ff7a33;
    animation: barraAnimada 1s infinite ease-in-out;
}

.fade-out {
    opacity: 0;
    transform: scale(0.98);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

@keyframes barraAnimada {
    0% {
        left: -50%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes expandirBarra {
    0% {
        width: 0;
    }
    100% {
        width: 100px;
    }
}