@import '/src/styles/header/nav.css';
@import '/src/styles/section/section-1.css';

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #fffaf5;
}

body{
    padding: 130px;
    padding-top: 100px;
}

h1{
    font-family: "Poppins", sans-serif;
}